.hero-about {
    &.hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('/img/about_hero_bg.jpg');
        background-color: #40413E;
    }
}

.features.features-about {
    font-size: 1rem;
    .features-quote {
        font-size: 1.12rem;
    }
}
