@import '../css/lightslider/lightslider.css';
// @import '../css/ug-theme-default.css';
.car-card {
  padding-top: 12vw;
  padding-bottom: 4rem;
  background-image: url('/images/car_bg.png');
  background-size: cover;
  .car-title {
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-weight: 400;
    color: white;
    margin-bottom: .5rem;
  }
  .car-price {
    @extend .car-title;
    font-weight: 300;
  }
	.car-properties {
    margin-bottom: 2.12rem;
    .property {
      font-size: .88rem;
      line-height: 2.25rem;
      color: white;
      .icon {
        vertical-align: baseline;
      }
    }
	}
  .car-description {
    flex: 1;
  }
  .nav-tabs {
    border: none;
    margin-bottom: 1.75rem;
  }
  .nav-link {
  	position: relative;
    color: $text-light-gray;
    text-transform: uppercase;
    padding-bottom: 0;
    padding-left: 0;
    border: none;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      border-bottom: $border-red;
      opacity: 0;
      transition: $transition;
      margin-right: 1rem;
    }
    &:hover {
    	border: none;
      &::before {
        opacity: 1;
      }
    }
    &.active {
      color: white;
      background-color: initial;
      border: none;
      &.nav-link::before {
        opacity: 1;
      }
    }
  }
  .tab-content {
    color: $text-ultra-light-gray;
  }
  .alternate-car {
    @extend .tab-content;
    margin-top: 6.25rem;
    font-size: 1.12rem;
    .alt-price {
      font-size: .87rem;
      color: $text-red;
    }
  }
  & + div {
    .gallery > .holder {
      background-image: initial;
    }
  }
}

.slider {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 42px;
    width: 42px;
    border-color: $border-color-gray;
    border-width: 1px;
  }
  &::before {
    top: -8px;
    left: -8px;
    border-top-style: solid;
    border-left-style: solid;
  }
  &::after {
    bottom: -8px;
    right: 112px;
    border-right-style: solid;
    border-bottom-style: solid;
  }
  // ====LightSlider overrides
  .lSSlideOuter {
    .lSSlideWrapper {
      position: static;
    }
    .lSPager.lSGallery {
      li {
        position: relative;
        transition: $transition;
        &::before,
        &::after {
          position: absolute;
          content: '';
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          border: 2px solid #1f1f1f;
          opacity: 0;
          transition: $transition;
        }
        &::after {
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          border: 2px solid white;
        }
        &:hover,
        &.active {
          border-radius: 0;
          &::before,
          &::after {
            opacity: 1;
          }
        }
        &:hover {
          &::after {
            opacity: .6
          }
        }
      }
    }
    &.vertical {
      .lSAction{ 
        & > a {
          width: 80px;
          height: 20px;
          left: initial;
          right: 0;
          opacity: .8;
          background-position: center;
          background-size: cover;
          &:hover {
            opacity: 1;
          }
        }
        & > .lSPrev {
          background-image: url('/images/angle-arrow-up.png');
          top: -1px;
        }
        & > .lSNext {
          background-image: url('/images/angle-arrow-down.png');
          bottom: 0;
        }
      }
    }
  }
}
