.gallery {
	background-color: white;
	padding-top: 5rem;
	padding-bottom: 9.22rem;
	.holder {
        background-image:linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)), url('/images/headerbg.png');
        background-size: cover;
        // padding-top: 1.5rem;
        // padding-bottom: 3.75rem;
        overflow: hidden;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 88vw;
            min-width: 1320px;
            left: 50%;
            top: 0;
            bottom: 0;
            position: absolute;
            background-color: white;
            transform: translateX(-50%) $skew;  
        }
    }
	.gallery-filter {
		margin-top: 4.37rem;
		margin-bottom: 6.87rem;
	}
	.gallery-title {
		position: relative;
		h2 {
			font-size: 1.87rem;
			line-height: 1.8rem;
			color: $text-black;
			font-weight: 700;
		}
		span {
			font-size: 1rem;
			line-height: 1.1rem;
			color: $text-dark-gray;
		}
	}
	.nav {
		background-color: $main-black;
		padding-left: 2rem;
		padding-right: 2rem;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 98%;
    		width: 25px;
    		background-color: #0f0f0f;
    		transform: skewX(-10deg);
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: -10px;
    	width: 25px;
    	background-color: #0f0f0f;
    	transform: $skew;
    	border-right: 10px solid $red;
		}
	}
	.nav-link{
		color: white;
		font-size: .87rem;
		line-height: 2.1rem;
		text-transform: uppercase;
		text-decoration: none;
		position: relative;
		z-index: 1;
		transition: $transition;
		&.active::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: -.2rem;
			right: -.2rem;
			background-color: $red;
			transform: $skew;
		}
	}
	.card {
		margin-bottom: 2rem;
		margin-left: -10px;
		margin-right: -10px;
		font-size: 0.87rem;
		line-height: 1.2rem;
		transition: $transition;
		border: 0 none;

		//new styles

		a.to-car {
		  display: block;
		  color: $text-gray;
			text-decoration: none;
		  .card-img-top {
		  	position: relative;
			  &::before {
			    content: '';
			    position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    z-index: 100;
			    background-color: rgba(0, 0, 0, .6);
			    opacity: 0;
			    transition: $transition;
			  }
			  .icon-wrap {
			    position: absolute;
			    display: flex;
			    justify-content: center;
			    width: 100%;
			    top: 0;
			    bottom: 0;
			    z-index: 120;
			    opacity: 0;
			    transition: $transition;
			    &::before,
					&::after {
					  content: '';
					  position: absolute;
					  height: 42px;
					  width: 42px;
					  margin: 10px;
					}

					&::before {
					  left: 0;
					  border-left: $border-red;
					  border-top: $border-red;
					}

					&::after {
					  right: 0;
					  bottom: 0;
					  border-right: $border-red;
					  border-bottom: $border-red;
					}
			    .img-icon {
			      align-self: center;
			      width: 32px;
			      height: 32px;
			    }
			  }
			  &:hover {
			    
			  }
			}
			&:hover {
				box-shadow: 0 0 30px #dedede;
				.card-img-top::before {
					opacity: .5;
				}
				.icon-wrap::before {
			        opacity: 1;
		    }
		    .img-icon {
		        opacity: 1;
		    }
		    .icon-wrap {
					opacity: 1;
		    }	
			}
		}

// new styles		
		a {
			
		}
		
		.card-title {
			font-size: 1.12rem;
			line-height: 1.15rem;
			font-weight: 700;
			color: $text-black;
			margin-bottom: 0;
			padding-right: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.date {
			vertical-align: bottom;
		}
		.car-price, .currency {
			font-weight: 700;
			color: $text-red;
		}
	}
	.btn {
    font-size: 0.87rem;
    line-height: 0.9rem;
    font-weight: 700;
    padding: 0.75rem 2.375rem;
    margin-bottom: 3.9rem;
    border: 1px solid $main-black;
    text-transform: uppercase;
    color: $text-red;
    &.btn-outline:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}

.gallery-light {
	.nav {
		background-color: white;
		&::before {
    	background: transparent;
		}
		&::after {
    	background: transparent;
    	border-right: 0 none;
		}
	}
	.nav-link{
		color: $text-dark-gray;
		&.active {
			color: white;
			&::before {
				background-color: $main-black;
			}
		}
	}
}

// active animation

@keyframes showActiveClass {
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.active::before {
	animation: showActiveClass .35s forwards;
}
