.hero {
    background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 24%, rgba(255, 255, 255, 0.05) 32%, rgba(94, 115, 160, 0.44) 99%, rgba(94, 115, 160, 0.45) 100%), url('/img/headerbg.png');
    background-size: cover;
    background-color: #7F8890;
    height: 45vw;
    .hero-title {
        color: #0f0f0f;
        font-size: 1.87rem;
        font-weight: 700;
        margin-bottom: 4.1rem;
    }
}

.home-features {
    background-color: white;
    padding-top: 5.5rem;
    padding-bottom: 5rem;
    color: $text-gray;
    text-align: center;
    margin-top: -50px;
    .features-title {
        font-size: 2.25rem;
        font-weight: 400;
        color: $text-dark-gray;
        max-width: 724px;
        margin-left: auto;
        margin-right: auto;
    }
    .features-slogan {
        max-width: 480px;
    }
    .divider {
        height: 1px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 236px;
            background-color: $text-gray;
            opacity: .2;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.video-box {
    background-color: $main-black;
    background-image: url('/img/videobg.png');
    background-size: cover;
    padding-top: 6.25rem;
    padding-bottom: 9rem;
    .title {
        margin-bottom: 6rem;
    }
    .video-wrapper {
        position: relative;
        .bordered-angle-top,
        .bordered-angle-bottom {
            position: absolute;
            height: 83px;
            width: 83px;
            border-color: $red;
            border-width: 1px;
        }
        .bordered-angle-top::before,
        .bordered-angle-top::after,
        .bordered-angle-bottom::before,
        .bordered-angle-bottom::after {
            content: "";
            display: block;
            border-color: $red;
            border-width: 1px;
        }
        .bordered-angle-top {
            border-top-style: solid;
            border-left-style: solid;
            left: -40px;
            top: -40px;
            &::before {
                width: 30px;
                height: 100%;
                border-bottom-style: solid;
            }
            &::after {
                position: absolute;
                top: 0;
                width: 100%;
                height: 30px;
                border-right-style: solid;
            }
        }
        .bordered-angle-bottom {
            border-right-style: solid;
            border-bottom-style: solid;
            right: -40px;
            bottom: -40px;
            &::before {
                position: absolute;
                right: 0;
                width: 30px;
                height: 100%;
                border-top-style: solid;
            }
            &::after {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 30px;
                border-left-style: solid;
            }
        }
    }
}
