.search {
    background-color: $main-black;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: -2px;

    .form-group {
        margin-bottom: 0;
        padding: 1.12rem 1.87rem;
        border-right: 1px solid #262525;
    }

    .form-control {
        background-color: transparent;
        border-radius: 0;
        border-color: #494949;
        color: white;
        height: auto;
        padding: 0.87rem 1.1rem;
    }

    .trackbar {
        @extend .form-group;

        .noUi-horizontal {
            border: 0 none;
            height: 4px;
            .noUi-handle {
                height: 14px;
                width: 14px;
                background-color: $red;
                border: 1px solid $main-black;
                border-radius: 50%;
                box-shadow: none;
                top: -5px;
                &::before,
                &::after {
                    display: none;
                }

            }
            .noUi-connect {
                background-color: $red;

            }
        }
    }

    .btn-search {
        background-color: $red;
        color: white;
        text-transform: uppercase;
        padding: 1.25rem 1.37rem;
        margin-left: 1.87rem;
        font-size: 0.87rem;
        line-height: 0.87rem;
    }
}
