.search {
    background-color: $main-black;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: -2px;

    .form-group {
        margin-bottom: 0;
        padding: 1.12rem 1.87rem;
        border-right: 1px solid #262525;
    }

    .form-control {
        background-color: transparent;
        border-radius: 0;
        border-color: #494949;
        color: white;
        height: auto;
        padding: .87rem 1.1rem;
    }

    .trackbar {
        @extend .form-group;
        padding-top: .8rem;
        padding-bottom: .8rem;
        .slider-horizontal {
            .slider-track {
                height: 4px;
            }
            .slider-track-low,
            .slider-track-high {
                background-color: #494949;
            }
            .slider-selection {
                background: $red;
            }
            .slider-handle {
                width: 16px;
                height: 16px;
                top: -1;
                background-color: $red;
                border: 2px solid $main-black;
                background-image: none;
            }
            .tooltip-main {
                opacity: 1;
                left: initial !important;
                right: -70px;
                &::before,
                .tooltip-inner {
                    background-color: transparent;
                    color: $text-red;
                    font-size: 1.12rem;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 600;
                    margin-bottom: 0;
                }
                &::before {
                    content: "\f153";
                    position: absolute;
                    left: -5px;
                    bottom: .2rem;
                    font-family: FontAwesome;
                }
            }
        }
        .trackbar-title {
            color: white;
            text-transform: uppercase;
            line-height: 2rem;
        }
    }
}
