.triangle-black-right {
   height: 45px;
   margin-top: -45px;
   background: $main-black;
   clip-path: polygon(100% 100%, 50% 100%, 50% calc(100% - 1px), 100% 0); 
}

.triangle-black-left {
	@extend .triangle-black-right;
   clip-path: polygon(0 100%, 0 0, 50% calc(100% - 1px), 50% 100%); 
}