
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #c92223;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black80: rgba(0, 0, 0, .8);
$main-black: #0f0f0f;
$deep-black: #111111;
$fb-blue: #4267b2;

//Text colors
$text-dark-gray: #363636;
$text-gray: #6a6969;
$text-light-gray: #696969;
$text-ultra-light-gray: #ccc;
$text-black: #0f0f0f;
$text-red: #c92223;

//
$transition: all .25s ease-out;
$skew: skewX(-10deg);
