
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//includes
@import 'header';
@import 'arrow-down';
@import 'arrow-up';
@import 'main-search';
@import 'triangles-down';
@import 'counter';
@import 'gallery';

//pages
@import 'home';

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

.btn {
	border-radius: 0.187rem;
}

.btn-outline {
	background: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.form-control:focus, .form-control:active:focus, .form-control.active:focus, {
    outline: 0 none;
    box-shadow: none;
    border-color:inherit;
}

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

.main-wrapper {
	max-width: 1144px;
	margin-left: auto;
	margin-right: auto;
}

//arrows

.arrow-black {
    .arrow-up, .arrow-down {
        background-color: $main-black;
    }
}

.arrow-white {
	.arrow-up, .arrow-down {
		background-color: white;
	}
}
